<div class="container">
  <h1 style="text-align: center;">{{message$ | async}}</h1>
  <div class="mini-container">
    <button (click)="nepaliMessage()" class="baraRedButton">Nepali</button>
    <button (click)="spanishMessage()" class="blueButton">Spanish</button>
    <button (click)="frenchMessage()" class="greenButton">French</button>
    <hr>
  </div>
  <div *ngIf="post$ | async as post" class="mini-container below">
    <h1>{{post.text}}</h1>
    <p>Votes: <span class="vote">{{post.likes}}</span></p>
    <hr>
    <button class="greenButton" (click)="upVote()">Upvote</button>
    <button class="redButton" (click)="downVote()">Downvote</button>
    <button class="yellowButton" (click)="resetPost()">reset</button>
  </div>
  <hr>
  <div class="mini-container below">
    <input type="text" class="inputBox" [(ngModel)]="titleText">
    <br>
    <button class="cyanButton" (click)="editText()">Change Title</button>
  </div>
</div>