.blueButton {
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    margin: 4px;
    cursor: pointer;
    background-color: #0883ea;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff !important;
    border: #0883ea;
}
.greenButton {
    background-color: #4cd137;
    border: #4cd137;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    margin: 4px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff !important;
}
.redButton {
    background-color: #c23616;
    border: #c23616;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    margin: 4px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff !important;
}
.yellowButton {
    background-color: #e1b12c;
    border: #e1b12c;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    margin: 4px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff !important;
}
.cyanButton {
    background-color: #12cbc4;
    border: #12cbc4;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    margin: 4px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff !important;
}
.baraRedButton {
    background-color: #ed4c67;
    border: #ed4c67;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    margin: 4px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff !important;
}
.vote {
    background-color: #273c75;
    border: #273c75;
    padding: 6px 21px;
    width: 25px;
    color: white;
}
.mini-container {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    & h1 {
        text-align: center;
    }
}
.inputBox {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 0.3px solid grey;
}
